<!doctype html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>Elite50 AngularJS Table Directive Demo</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>

    <link rel="stylesheet" href="demo.css">
  </head>
  <body ng-controller="demoCtrl">
    <div>
      <h1>Elite50 Table Directive Demo</h1>

      <h2>Fetching data from server:</h2>

      <p>
      <!--Polling every 2 seconds. -->Number of entries to fetch:
        <input type="number" ng-model="num"/>
      </p>

      <table e50-table e50-if-data e50-if-no-data="No data found"
        e50-fetch="http://loc.cs-back.com/testing/:num"
        e50-fetch-params="{num:num}" e50-data-key="d">
        <thead>
          <tr>
            <th>{{ e50GetData().length }}</th>
            <th e50-if-data>Address</th>
            <th>Count</th>
            <th>{{ testBye }}</th>
          </tr>
        </thead>
        <tbody>
          <tr e50-table-row e50-hover ng-click="clickRow()">
            <td>{{ d.name }}</td>
            <td>{{ d.address }}</td>
            <td ng-bind="d.count"></td>
            <td><a href="" e50-no-prop ng-click="clickLink()">Clickable</a></td>
          </tr>
        </body>
      </table>

      <h2>Data manipulated by controller:</h2>

      <p>
        Changed every 3 seconds. Sorting on <em>count</em>.
        Click to toggle sort order:
        <a href="" ng-click="toggleSort()" ng-if="sort">DESC</a>
        <a href="" ng-click="toggleSort()" ng-if="!sort">ASC</a>
        Click to toggle view:
        <a href="" ng-click="toggleView()" ng-if="view==='table'">TABLE</a>
        <a href="" ng-click="toggleView()" ng-if="view==='list'">LIST</a>
      </p>

      <!-- <div e50-table e50-use="clickRow,clickLink" e50-data="people" e50-if-no-data="No people!"
        e50-sort="count" e50-sort-reverse="{{sort}}" e50-if-data e50-views="{{view}}">
        <table e50-view="table">
          <thead>
            <tr>
              <th>{{ e50GetData().length }}</th>
              <th>Address</th>
              <th>Count</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr e50-table-row e50-hover ng-click="clickRow()">
              <td ng-bind="t.name"></td>
              <td e50-no-prop ng-click="e50DeleteRow(t)" ng-bind="t.address"></td>
              <td ng-bind="t.count"></td>
              <td><a href="" e50-no-prop ng-click="clickLink()">Clickable</a></td>
            </tr>
          </tbody>
        </table>
        <div e50-view="list">
          <span e50-table-row>{{ t.name }}, </span>
        </div>
      </div> -->

      <h2>Infinite scroll fetch from server</h2>

      <p>
        <input type="text" ng-model="testName" />
      </p>

      <div style="height:400px;overflow:scroll">

        <div e50-table e50-fetch="http://loc.cs-back.com/testing"
          e50-infinite-scroll e50-fetch-params="{offset:3,limit:50,name:testName}"
          e50-views="{{view}}" e50-poll>
          <table e50-view="table">
            <thead>
              <th>Number</th>
              <th>Name</th>
              <th>Random</th>
            </thead>
            <tbody>
              <tr e50-table-row>
                <td>{{ t.number }}</td>
                <td>{{ t.name }}</td>
                <td>{{ t.random }}</td>
              </tr>
            </tbody>
          </table>
          <div e50-view="list">
            <span e50-table-row>{{ t.name }}, </span>
          </div>
        </div>

      </div>
    </div>

    <script src="http://localhost:2342/livereload.js"></script>
    <script src="../dist/e50-table.min.js"></script>
    <script src="demo.js"></script>
  </body>
</html>
